<?xml version="1.0" encoding="utf-8"?>

<manifest
    xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />

    <uses-permission
        android:name="android.permission.READ_MEDIA_VIDEO" />

    <uses-permission
        android:name="android.permission.INTERNET" />

    <uses-permission
        android:name="android.permission.FOREGROUND_SERVICE" />

    <uses-permission
        android:name="android.permission.FOREGROUND_SERVICE_MEDIA_PLAYBACK" />

    <application
        android:name=".VidoraApplication"
        android:allowBackup="true"
        android:label="@string/app_name"
        android:icon="@drawable/ic_vidora"
        android:supportsRtl="true"
        android:theme="@style/Theme.Vidora"
        android:usesCleartextTraffic="true">

        <meta-data
            android:name="com.google.android.gms.cast.framework.OPTIONS_PROVIDER_CLASS_NAME"
            android:value="androidx.media3.cast.DefaultCastOptionsProvider" />

        <receiver
            android:name="androidx.mediarouter.media.MediaTransferReceiver"
            android:exported="true" />

        <service
            android:name=".PlaybackService"
            android:foregroundServiceType="mediaPlayback"
            android:exported="true">

            <intent-filter>

                <action
                    android:name="androidx.media3.session.MediaSessionService" />

                <action
                    android:name="android.media.browse.MediaBrowserService" />

            </intent-filter>

        </service>

        <activity
            android:name=".PlayerActivity"
            android:configChanges="orientation|screenSize|screenLayout|smallestScreenSize"
            android:supportsPictureInPicture="true"
            android:exported="true">

            <intent-filter>

                <action
                    android:name="android.intent.action.VIEW" />

                <category
                    android:name="android.intent.category.DEFAULT" />

                <category
                    android:name="android.intent.category.BROWSABLE" />

                <data
                    android:mimeType="video/*" />

            </intent-filter>

            <intent-filter>

                <action
                    android:name="android.intent.action.VIEW" />

                <category
                    android:name="android.intent.category.DEFAULT" />

                <category
                    android:name="android.intent.category.BROWSABLE" />

                <data
                    android:scheme="http" />

            </intent-filter>

            <intent-filter>

                <action
                    android:name="android.intent.action.VIEW" />

                <category
                    android:name="android.intent.category.DEFAULT" />

                <category
                    android:name="android.intent.category.BROWSABLE" />

                <data
                    android:scheme="https" />

            </intent-filter>

        </activity>

        <activity
            android:name=".OnlineVideoActivity"
            android:exported="false" />

        <activity
            android:name=".PrivateVaultActivity"
            android:exported="false" />

        <activity
            android:name=".SettingsActivity"
            android:exported="false" />

        <activity
            android:name=".MainActivity"
            android:exported="true">

            <intent-filter>

                <action
                    android:name="android.intent.action.MAIN" />

                <category
                    android:name="android.intent.category.LAUNCHER" />

            </intent-filter>

        </activity>

    </application>

</manifest>
